# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# JAVA / SPRING
# =========================
target/
*.class
*.jar
*.war

# =========================
# TERRAFORM
# =========================
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# =========================
# ENV VARIABLES
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
infra/output.tf
